@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nanum Gothic", ui-sans-serif, system-ui, sans-serif;
  --font-cute: "Gaegu", cursive;
  
  --color-bg-main: #FFFBF2;
  --color-accent-orange: #FF9800;
  --color-accent-blue: #2196F3;
  
  --color-area-yellow: #FEF9C3;
  --color-area-red: #FEE2E2;
  --color-area-blue: #DBEAFE;
  --color-area-green: #DCFCE7;
}

@layer base {
  body {
    @apply font-sans bg-bg-main text-slate-700;
  }
}
